<div class="card my-2">
  <div class="card-body">
    <h4>Simpler examples:</h4>
    <dl>
    <!--        <dt><span style="font-weight: bold" id="example1">E1</span>: <span class="claim-for">Vegetarian diet is unhealthy</span> because <span class="premise">plant-based products naturally lack necessary nutrients like vitamin B12 or D</span>.</dt>-->
      <dt><span style="font-weight: bold" id="example1">E1</span>: <img style="width: 600px" src="/static/images/ann_example_1.png"></dt>
      <dd>Explanation: a claim is supported by a premise, both components are in the same sentence, indicator word “because” is excluded.</dd>

    <!--        <dt><span style="font-weight: bold" id="example2">E2</span>: <span class="premise">Animal agriculture is extremely taxing on the environment due to pollution that the farms are responsible for</span>. Therefore, I firmly believe that <span class="claim-for">we should not continue eating animal based products</span>.</dt>-->
      <dt><span style="font-weight: bold" id="example2">E2</span>: <img style="width: 600px" src="/static/images/ann_example_2.png"></dt>
      <dd>Explanation: a claim is supported by a premise, components are in separate sentences, indicator word “Therefore” and the unnecessary phrase “I firmly believe that” are excluded.</dd>

    <!--        <dt><span style="font-weight: bold" id="example3">E3</span>: <span class="claim-for">A saturated market is a dangerous space to play in</span>. <span class="premise">Generally, there are only two ways to compete – grow the market itself, or steal market share from others</span>.</dt>-->
      <dt><span style="font-weight: bold" id="example3">E3</span>:<img style="width: 600px" src="/static/images/ann_example_3.png"></dt>
      <dd>Explanation: a claim is supported by a premise, components are in separate sentences, and no indicator words are used.</dd>

    <!--        <dt><span style="font-weight: bold" id="example4">E4</span>: <span class="claim-for">I disagree with the view that plant-based products will dominate in the future</span>. Even though <span class="premise">their popularity is rising</span>, <span class="premise">there are strong traditions surrounding meat eating</span>, for example, <span class="premise">turkeys are still served in most households in the US during Thanksgiving</span>.</dt>-->
      <dt><span style="font-weight: bold" id="example4">E4</span>: <img style="width: 780px" src="/static/images/ann_example_4.png"></dt>
      <dd>Explanation: the first sentence contains one claim, while the second sentence has three premise components. Notice how indicator phrases “for example” and “even though” are excluded. Premise #1 attacks the claim: the claim states a doubt that plant-based products will dominate in the future, however, premise #1 indicates that the popularity of such products is rising, thus, contradicting the view expressed in the claim. Premise #2 attacks premise #1: premise #2 explains that meat eating traditions are strong, implying that the rise in popularity of plant-based products will not change that. Lastly, premise #3 supports premise #2 by giving an example of a tradition where meat eating is important.</dd>

    <!--        <dt><span style="font-weight: bold" id="example5">E5</span>: <span class="claim-for">Currently we are not doing enough to set the youth for a more sustainable future</span>. <span class="premise">Dietary education at schools is inadequate and the variety as well as the quality of plant-based dishes, served in their canteens, are poor</span>.</dt>-->
      <dt><span style="font-weight: bold" id="example5">E5</span>:<img style="width: 600px" src="/static/images/ann_example_5.png"></dt>
      <dd>Explanation: a claim is supported by a premise, and the components are in separate sentences.</dd>
    </dl>

    <hr>

    <h4>More complete examples:</h4>
    <dl>
      <dt>
        <p><span style="font-weight: bold" id="example6">E6</span>:</p>
        <p><img src="/static/images/ann_example_6.png" alt="annotation example #6"></p>
      </dt>
      <dd>Title: "Sustainable Fishing: Balancing the Needs of People and the Ocean".</dd>
      <dd>
        <p>Explanation:</p>
        <p>
          The major claim is stated as the last sentence in the first paragraph.
          The first sentence contains a claim that can be interpreted as against the major claim, since stricter regulation might affect food security in the developing countries.
          The following sentence cites research figures, which supports the claim from the previous sentence.
        </p>
        <p>
          In the second paragraph there are two claims, which are for the major claim. Each of them is supported by respective premises that follow.
          The first premise gives an example of a destructive fishing method, while the second premise provides a possible motivating factor for illegal fishing practices.
        </p>
      </dd>

      <dt>
        <p><span style="font-weight: bold" id="example7">E7</span>:</p>
        <p><img src="/static/images/ann_example_7.png" alt="annotation example #7">
        </p>
      </dt>
      <dd>Title: "This World Plant Milk Day, A Reminder Of Why The Future Must Be Dairy-Free".</dd>
      <dd>
        <p>Explanation:</p>
        <p>
          The major claim is first stated in the first paragraph and is again paraphrased in the last one.
          Even though the second sentence clearly shows author's opinion, it is not annotated as the major claim since it does not contain any content of an argument.
          However, this sentence refers to the previous one that does have a claim, therefore, is marked as the major claim.</p>
        <p>
          The next paragraph does not have any pieces of text that are argumentative (claim) or related to an argument (premise).
          Therefore, no components are highlighted. In the paragraph a general experience is described, which neither claims something nor supports/attacks a claim.
          Second sentence in the paragraph is used to raise intrigue and provoke the reader.
        </p>
        <p>The third paragraph starts with a premise, which provides explanation for the ClaimFor in the second sentence.</p>
        <p>
          In the fourth paragraph a positive view of animal husbandry is stated, which is against the major claim that talks about animal cruelty.
          This ClaimAgainst is then supported by a premise describing that animals do have freedom for some part of the year.
          On the other hand, in the same sentence there is another premise that attacks (reduces convincing value) the previous one by emphasising poor living condition during colder periods.
        </p>
      </dd>

    </dl>
  </div>
</div>
