<div class="card my-2">
  <div class="card-header" id="heading-high-level">
    <h4 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-high-level" aria-expanded="false" aria-controls="collapse-high-level">
        The high-level view of arguments
      </button>
    </h4>
  </div>

  <div id="collapse-high-level" class="collapse" aria-labelledby="heading-high-level">
    <div class="card-body">
      <p>An argument consists of at least two statements. The simplest argument includes one <strong>claim</strong>, which is then supported or attacked by at least one <strong>premise</strong>.</p>
      <p>The claim stands for a controversial or polarising statement intended to persuade the reader. It is usually a proposition or assumption and should not be accepted by the reader without additional support. This characteristic distinguishes arguments from explanations where the conclusion is a true statement that is not arguable (e.g. a true event that happened in the past).</p>
      <p>The second component of an argument is the premise. The author uses it as a support/justification for their claim in order to make it more convincing. The premise may also attack/refute the opponent's claim where the goal is to reduce its plausibility. In more complex arguments premises may express support/attack to the claim indirectly, via supporting/attacking another premise that is then directly connected to the claim.</p>
    </div>
  </div>
</div>
