<div class="card my-2">
  <div class="card-header" id="heading-annotation-ui" >
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-annotation-ui" aria-expanded="false" aria-controls="collapse-annotation-ui">
        Annotation user interface
      </button>
    </h5>
  </div>

  <div id="collapse-annotation-ui" class="collapse" aria-labelledby="heading-annotation-ui">
    <div class="card-body">
      <p>
        Highlight the text of an article with your cursor, it will cause annotation widget to appear.
        In the annotation widget you need to specify the tag of the component, which, in this task, is only MajorClaim.
        The widget has auto-completion, thus, when you start typing, a tag suggestion will appear and you can choose it.
        Finally, click <strong>OK</strong> button.
      </p>
      <p>
        In order to delete the highlighted component first select the already highlighted text and in the widget click
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="12"><path fill="currentColor" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"></path></svg>
        icon.
      </p>
      <p>When you are satisfied with your annotations click <strong>Submit</strong> button in the bottom left corner to finish the main annotation task.</p>
      <p>Recording below demonstrates the use of the annotation UI.</p>
      <p><img src="/static/images/annotation_steps_article.gif" alt="annotation steps"></p>
    </div>
  </div>
</div>
