<div class="card my-2">
  <div class="card-header" id="heading-boundaries">
    <h4 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-boundaries" aria-expanded="false" aria-controls="collapse-boundaries">
        Determining component boundaries
      </button>
    </h4>
  </div>

  <div id="collapse-boundaries" class="collapse" aria-labelledby="heading-boundaries">
    <div class="card-body">
      <p>Before marking the major claim component occurrences, it is important to understand the boundaries of each individual component.</p>

      <h4>Guidelines:</h4>
      <ol>
        <li><p>Indicator words or phrases such as “because”, “therefore”, “for example” or “even though” can signal the presence of an argument as in examples <span style="font-weight: bold"><a href='#example1'>E1</a></span>, <span style="font-weight: bold"><a href='#example2'>E2</a></span> and <span style="font-weight: bold"><a href='#example4'>E4</a></span>.</p></li>
        <li><p>Arguments may not always include indicator words, requiring more in depth comprehension of what was intended by the author. In the example <span style="font-weight: bold"><a href='#example3'>E3</a></span> the first sentence is the claim, which is explained/supported by the premise in the second sentence.</p></li>
        <li><p>Components may or may not cover the entire sentence as shown in the example <span style="font-weight: bold"><a href='#example2'>E2</a></span> where the first full sentence is annotated as one component (a premise), while in example <span style="font-weight: bold"><a href='#example1'>E1</a></span> the first sentence contains two components (a claim followed by a supporting premise).</p></li>
        <li><p>Components cannot span multiple sentences, meaning they always start and end in the same sentence.</li>
        <li><p>Component text is always continuous, that is, it cannot start at some point, be interrupted by a non-component text or a completely different component, and continue afterward.</p></li>
        <li>
          <p>Parts of a sentence that should <strong>not</strong> be annotated:</p>
          <ol>
            <li><p>Punctuations at the end of an argument component.</p></li>
            <li><p>Indicator words or phrases such as “because”, “therefore”, “for example” or “even though” (examples <span style="font-weight: bold"><a href='#example1'>E1</a></span>, <span style="font-weight: bold"><a href='#example2'>E2</a></span> and <span style="font-weight: bold"><a href='#example4'>E4</a></span>).</p></li>
            <li><p>Unnecessary phrases like “I believe that”, “according to the previous fact” at the start of a component should not be included in the components (see example <span style="font-weight: bold"><a href='#example2'>E2</a></span>), unless they contain negations, which change the meaning of an argument, for instance, the claim in the first sentence of example <span style="font-weight: bold"><a href='#example4'>E4</a></span>.</p></li>
            <li><p>When in doubt on what not to include in a component, a good rule of thumb is to try to exclude the phrase/words and see if the remaining content still holds the same meaning and can form a valid sentence on its own. Some phrases, for instance, time indicators: “In ancient times” or “currently” are necessary as they add important detail to the argument, without which the meaning of an argument is different.</p></li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</div>
