<div class="card my-2">
  <div class="card-header" id="heading-major-claim">
    <h4 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-major-claim" aria-expanded="false" aria-controls="collapse-major-claim">
        Identifying the major claim
      </button>
    </h4>
  </div>

  <div id="collapse-major-claim" class="collapse" aria-labelledby="heading-major-claim">
    <div class="card-body">
      <p>As mentioned previously, in this task we are only interested in the major claim (<strong>MajorClaim</strong>).</p>

      <p>In an article, MajorClaim represents the author's main point directed toward some specific topic.</p>

      <h4>Guidelines:</h4>
      <ol>
        <li>
          <p>A statement that is not argumentative should <strong>not</strong> be considered a claim. Common types of statements that are <strong>not</strong> claims:</p>
          <ul>
            <li>
              <p>Well-known facts or historic events:</p>
              <ul>
                <li><p>“About 71 percent of the Earth's surface is water-covered, and the oceans hold about 96.5 percent of all Earth's water.”</p></li>
                <li><p>“The American Civil War was a conflict fought between 1861 and 1865 in the United States.”</p></li>
              </ul>
            </li>
            <li>
              <p>Personal preference or experience:</p>
              <ul>
                <li><p>“I’d much rather eat something that is more expensive but sustainable than feel guilty for negatively contributing to climate change.”</p></li>
                <li><p>“In my interactions with people, who suffer from unhealthy eating habits, I’ve noticed that many of them were never properly introduced to the basics of good nutrition.”</p></li>
              </ul>
            </li>
            <li>
              <p>Citing a research:</p>
              <ul>
                <li><p>“A recent study found that hybrid vehicles may emit considerably larger amounts of CO2 than officially reported by the manufacturers.”</p></li>
              </ul>
            </li>
          </ul>
        </li>

        <li><p>There can only be <strong>one</strong> major claim in an article, however, the same major claim can be repeated or paraphrased multiple times in an article. Usually, but not always, the major claim appears in the introduction and conclusion sections (as shown in <span style="font-weight: bold"><a href='#example7'>E7</a></span>).</p></li>

        <li><p>The title of an article often helps to indentify the main point of an article and, therefore, the major claim.</p></li>

        <li>
          <p>If different claims appear as strong candidates for the major claim:</p>
          <ul>
            <li><p>Consider, which one of them is the most general and represents the authors opinion best, then, annotate only that claim as the major claim.</p></li>
            <li>
              <p>
                It may be that the candidates are just paraphrases of one another, in that case annotate them all.
                Paraphrase here means that different words and sentence structures might be chosen to express the same idea.
              </p>
            </li>
          </ul>
        </li>

        <li><p>Claims may start with opinion expressions such as “In my opinion”, “I strongly believe that” or indicator phrases like “Therefore”, “This follows that” (see the last sentence of the first paragraph in <span style="font-weight: bold"><a href='#example6'>E6</a></span>).</p></li>

        <li><p>Sometimes claims do not start with opinion expressions or indicator phrases. For instance, in example <span style="font-weight: bold"><a href='#example7'>E7</a></span>, even though the author expresses their stance in the second sentence, it does not include any content-relevant information of an argument. Therefore, the view, referenced in the first sentences, should be annotated instead.</p></li>

        <li>
          <p>Claims formulated as questions:</p>
          <ul>
            <li><p>When a question prompts someone to consider a particular point of view that is arguable, it should be annotated as a claim. In the example <span style="font-weight: bold"><a href='#example6'>E6</a></span> second to last question claims that there are many people who take part in activities damaging the ocean, however, it may be argued that this is an exaggeration.</p></li>
            <li><p>On the other hand, too general, obvious answer or rhetorical questions are not claims. For instance: “Why are we so irresponsible?” or “How can we claim to care about the environment and still use single-use plastic?".</p></li>
          </ul>
        </li>
      </ol>

      <p><span style="font-weight: bold"><a href='#example6'>E6</a></span> and <span style="font-weight: bold"><a href='#example7'>E7</a></span> show more complete annotated examples of the two articles with their titles, and brief explanations of how components are related to each other.</p>


    </div>
  </div>
</div>