{% extends 'layouts/layout.html' %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block body %}
		<div id="container-not-an-ad" class="media">
			<div class="media-body">
        <h1>Before accepting the HIT</h1>
        <p>This task should only be carried out on a larger display device (i.e. laptop but not smartphone) that has mouse and keyboard connected.</p>
        <p>
          The task is more challenging than the majority of other tasks available at MTurk and the quality of work is highly important.
          For these reasons you're given a considerable amount of time to complete it (<strong>~25 minutes</strong> is the expected).
          We hope that the compensation is fair and adequate for your effort.
        </p>

        <p>The quality of your work in this task will determine if you will be <strong>eligible</strong> for follow up HITs of this kind.</p>

        <div class="alert alert-warning">
          <b>Warning</b>: If you have any pop-up blockers active, please disable them before continuing, otherwise you won't be able to proceed.
        </div>

        <h1>Introduction</h1>
        <p>In this task you will be provided with a section from an article on the topics of sustainable diets, veganism, meat alternatives, effects of food production on the environment, and others.</p>
        <p>Your task is to identify argument components present in the text and determine how they are related to each other as well as the main view of the article's author.</p>
        <p>
          Likely, you will have your own opinions and may agree or disagree with the contents of the articles, finding some statements to be untrue or even offensive.
          However, in order to correctly complete the task, it is crucial that you stay objective and follow the described guidelines to the best of your ability.
        </p>

        <h1>Motivation</h1>
        <p>Your work may eventually be used in developing Artificial Intelligence (AI) that is capable of automatically extracting arguments and their relations from the text.</p>
        <p>
          Extracted arguments can then be used for various applications.
          For instance, identifying main arguments that people use for switching/not switching to sustainable diets.
          Such information could then be used for improving communication between governments and citizens to encourage more sustainable dietary choices.
          Alternatively, food industry may leverage this information in order to develop new and attractive plant-based products or improve qualities of the existing ones.
        </p>

        <h1>Example annotation</h1>
        <p>The image below illustrates the type of work that should be performed in this task.</p>
        <p>Annotate components (<span class="major-claim"><strong>MajorClaim</strong></span>, <span class="claim-for"><strong>ClaimFor</strong></span>, <span class="claim-against"><strong>ClaimAgainst</strong></span>, <span class="premise"><strong>Premise</strong></span>) and relations (<strong>Support</strong>/<strong>Attack</strong>) in the text below.</p>
        <p><img src="/static/images/ann_example_7.png" alt="annotation example #7"></p>

        <h1>The HIT</h1>
        {% if assignmentid == "ASSIGNMENT_ID_NOT_AVAILABLE" %}
          <p>
            If, after reading the information above, you're still interested in working on this task, please click the "Accept" button on the Amazon site.
            After accepting, you will see a button below that will take you to the experiment.
          </p>
        {% else %}
          <p>By clicking the button below, you will be taken to the experiment including the complete instructions.</p>

          <p>To carry out the task correctly, be sure to carefully read the annotation guidelines, which will be available after the HIT is accepted.</p>

          <script type="text/javascript">
            function openWindow() {
              window.open('{{ server_location }}/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}','Popup','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width='+1024+',height='+768+'');
            }
          </script>

          <button type="button" class="btn btn-primary btn-lg" onClick="openWindow();">
            Begin Experiment
          </button>
        {% endif %}
			</div>
		</div>
{% endblock %}
