<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr>

    <div class="alert alert-info" role="alert">
      <p>You are almost finished! You will be eligible for full payment once you answer the following questions. Thank you for your contributing to our research.</p>
    </div>

    <hr>

    <form id="questionnaire" action="" method="post">
      <div class="row question">
        <div class="col-md-6">
          <label for="task-difficulty">How <strong>difficult</strong> difficult was the task?</label>
        </div>
        <div class="col-md-6">
          <select id="task-difficulty" class="form-control" name="task-difficulty">
              <option value="" disabled selected hidden>Please Choose...</option>
              <option value="5">5 (Very difficult)</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1 (Very easy)</option>
          </select>
        </div>
      </div>

      <div class="row question">
        <div class="col-md-6">
          <label for="task-interest">How <strong>interesting</strong> was the task?</label>
        </div>
        <div class="col-md-6">
          <select id="task-interest" class="form-control" name="task-interest">
            <option value="" disabled selected hidden>Please Choose...</option>
            <option value="5">5 (Very Interesting)</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1 (Very boring)</option>
          </select>
        </div>
      </div>

      <div class="row question">
        <div class="col-md-6">
          <label for="ui-intuitiveness">How <strong>intuitive</strong> was the annotation user interface?</label>
        </div>
        <div class="col-md-6">
          <select id="ui-intuitiveness" class="form-control" name="ui-intuitiveness">
              <option value="" disabled selected hidden>Please Choose...</option>
              <option value="5">5 (Very intuitive)</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1 (Very difficult to use)</option>
          </select>
        </div>
      </div>

      <div class="row question">
        <div class="col-md-6">
          <label for="guidelines-clarity">How <strong>clear</strong> was the annotation guidelines?</label>
        </div>
        <div class="col-md-6">
          <select id="guidelines-clarity" class="form-control" name="guidelines-clarity">
              <option value="" disabled selected hidden>Please Choose...</option>
              <option value="5">5 (Very clear)</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1 (Very unclear)</option>
          </select>
        </div>
      </div>

      <div class="row question">
        <div class="col-md-12">
          <label for="other-feedback">Other feedback:</label>
          <textarea class="form-control" id="other-feedback" rows="3" placeholder="Was there something not working? Any suggestions for improving the task?"></textarea>
        </div>
      </div>

      <hr>

      <div class="row float-right">
        <div class="col-md-12">
          <button type="button" id="continue" value="continue" class="btn btn-primary btn-lg continue">Continue</button>
        </div>
      </div>
    </form>
</div>
