<div id="container-exp" class="container">
<nav class="navbar sticky-top navbar-light bg-light">
  <p>
    <button id="log-annotations" class="btn btn-primary" hidden>Log Annotation</button>
    <button id="open-guidelines" class="btn btn-info" type="button">Open Guidelines</button>
    <!-- https://gitbrent.github.io/bootstrap4-toggle -->
    <input id="mode-toggle" type="checkbox" checked data-toggle="toggle" data-on="<i class='fa fa-play'></i>" data-off="<i class='fa fa-pause'></i>" data-onstyle="dark" data-offstyle="light">
  </p>
</nav>
<div id="outer-container">
  <div id="content" class="plaintext card card-body my-2">
    <p> The environmental cost of farmed salmon</p>
    <p> In today’s climate, we are all well aware of the importance of sustainability. And, that we must be careful with the planet’s limited resources. But it seems there is an elephant in the room – or, perhaps, 15 million Scottish salmon.</p>
    <p> It’s fair to say that Scotland already has enough to contend with where the climate crisis is concerned. Over the last three decades, temperatures in Scotland have risen by 0.5⁰C on average, winters have become five percent wetter, and sea levels across the coast have grown by up to three centimeters every decade.</p>
    <p> Commercial fish farming of species such as salmon can have heavily detrimental effects on the environment. For example, waste from fish feed and feces can pollute the water around intensive fish farms. And disease can be widespread, leading to increased chemical and pesticide use, further contaminating the area and impacting local marine life. These factors are likely to only worsen if we continue our “business as usual” approach as a society. Can Scotland really afford this current salmon catastrophe?</p>
  </div>
</div>
<nav class="navbar bottom navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button id="submit-sam" class="btn btn-success btn-lg">Submit</button>
</nav>
</div>
