<div id="container-exp">
  <div>
    <button id="get-annotations">Get Annotation</button>
    <button id="toggle-mode">MODE: ANNOTATION</button>
    <button id="submit-sam">Submit</button>
  </div>
  <div id="outer-container">
    <div id="content" class="plaintext">
      <p>The rise of vegan alternatives</p>
      <p>The one category that has had the most success is the plant milk sector, with 15 percent marketshare and 50 percent household penetration. The industry is projected to be worth $42.86 billion by 2029.</p>
      <p>So why are almond, oat, and soy milks ubiquitous and fully accepted into the fabric of our society? Is it simply because they’ve been around longer? (That argument is specious, because veggie burgers have been around a long time, too.)</p>
      <p>Could it perhaps be because they aren’t trying to be cow’s milk? Could it be because some people actually prefer the taste of almond milk to cow’s milk? Maybe people just want “milky” things, the experience of cookies and milk, without some of the taste qualities of cow’s milk.</p>
      <p>When I first emigrated to the United States and had to start drinking cow’s milk in school, I found it to be disgusting. I grew up eating tofu and natto, and simply preferred the flavor that some would call “beany.” I had to mask my milk with Nestle Quick to make it palatable.</p>
    </div>
  </div>
</div>
