<div id="container-exp" class="container">
<nav class="navbar sticky-top navbar-light bg-light">
  <p id="top-navbar-row">
    <button id="log-annotations" class="btn btn-primary" hidden>Log Annotation</button>
    <button id="open-guidelines" class="btn btn-info" type="button">Open Guidelines</button>
  </p>
</nav>

<div id="outer-container">
  <div id="meta" class="my-2"></div>
  <div id="content" class="plaintext card card-body my-2">
  </div>
</div>
<nav class="navbar bottom navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button id="submit-sam" class="btn btn-success btn-lg">Submit</button>
</nav>
</div>
