<div class="card my-2">
  <div class="card-header" id="heading-components-relations">
    <h4 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-components-relations" aria-expanded="false" aria-controls="collapse-components-relations">
        Identifying components and relations between them
      </button>
    </h4>
  </div>

  <div id="collapse-components-relations" class="collapse" aria-labelledby="heading-components-relations">
    <div class="card-body">
      <p>We are interested in 3 specific types of claims: <strong>MajorClaim</strong>, <strong>ClaimFor</strong>, and <strong>ClaimAgainst</strong>.</p>

      <p>In an article, MajorClaim represents the author's main point directed toward some specific topic. Both ClaimFor and ClaimAgainst can be interpreted as sub-claims and in the following parts of the guide will be referred to as just claims. The purpose of claims is to either directly support (ClaimFor) or, in case of a counterclaim (contra argument), attack (ClaimAgainst) the author’s main view/opinion, represented by the MajorClaim.</p>

      <p>A <strong>Premise</strong> is a reason given for supporting or attacking an argument, therefore, it can be considered as justification or refutation for convincing the reader of the truth or falsity of a claim. Often premises are used to explain claims, illustrate examples proving a point, reference a study that attempts to prove or debunk a claim and so on.</p>

      <p>Besides the components, we also have two relations, namely <strong>Support</strong> and <strong>Attack</strong>, which link Premises to other components.</p>

      <h4>Guidelines:</h4>
      <ol>
        <li>
          <p>Identifying claims:</p>
          <ol>
            <li><p>A statement that is not argumentative should <strong>not</strong> be considered a claim. However, it might still be used in an argument in the form of a premise, to convey support/attack toward some claim. For instance, in the second sentence of example <span style="font-weight: bold"><a href='#example6'>E6</a></span>, a figure is quoted from a research. Text is marked as a premise since it supports the claim in the previous sentence.</p></li>
            <li>
              <p>Common types of statements that are <strong>not</strong> claims:</p>
              <ul>
                <li>
                  <p>Well-known facts or historic events:</p>
                  <ul>
                    <li><p>“About 71 percent of the Earth's surface is water-covered, and the oceans hold about 96.5 percent of all Earth's water.”</p></li>
                    <li><p>“The American Civil War was a conflict fought between 1861 and 1865 in the United States.”</p></li>
                  </ul>
                </li>
                <li>
                  <p>Personal preference or experience:</p>
                  <ul>
                    <li><p>“I’d much rather eat something that is more expensive but sustainable than feel guilty for negatively contributing to climate change.”</p></li>
                    <li><p>“In my interactions with people, who suffer from unhealthy eating habits, I’ve noticed that many of them were never properly introduced to the basics of good nutrition.”</p></li>
                  </ul>
                </li>
                <li>
                  <p>Citing a research:</p>
                  <ul>
                    <li><p>“A recent study found that hybrid vehicles may emit considerably larger amounts of CO2 than officially reported by the manufacturers.”</p></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li><p>There can only be one MajorClaim in an article, however, it can be paraphrased multiple times, thus, all of the repeating occurrences should be annotated separately (see example <span style="font-weight: bold"><a href='#example7'>E7</a></span>).</p></li>
            <li><p>MajorClaim usually, but not necessarily, is stated at the beginning of an article, in the introductory section. It can potentially be restated in other parts of an article, most often in the concluding paragraph if an article has one. This is shown in example <span style="font-weight: bold"><a href='#example7'>E7</a></span>.</p></li>
            <li><p>There can be many regular claims (ClaimFor and ClaimAgainst) in the article. To determine whether a regular claim is ClaimFor or ClaimAgainst, one should consider the claim's stance toward the major claim (see <span style="font-weight: bold"><a href='#example6'>E6</a></span> and <span style="font-weight: bold"><a href='#example7'>E7</a></span>).</p></li>
            <li><p>Major claims and regular claims may start with opinion expressions such as “In my opinion”, “I strongly believe that” or indicator phrases like “Therefore”, “This follows that” (see the last sentence of the first paragraph in <span style="font-weight: bold"><a href='#example6'>E6</a></span>).</p></li>
            <li><p>Sometimes claims do not start with opinion expressions or indicator phrases. For instance, in example <span style="font-weight: bold"><a href='#example7'>E7</a></span>, even though the author expresses their stance in the second sentence, it does not include any content-relevant information of an argument. Therefore, the view, referenced in the first sentences, should be annotated instead.</p></li>
            <li><p>In rare cases claims may appear standalone, meaning without any related premises that would express support or attack toward these claims.</p></li>

            <li>
              <p>Claims formulated as questions:</p>
              <ul>
                <li><p>When a question prompts someone to consider a particular point of view that is arguable, it should be annotated as a claim. In the example <span style="font-weight: bold"><a href='#example6'>E6</a></span> second to last question claims that there are many people who take part in activities damaging the ocean, however, it may be argued that this is an exaggeration.</p></li>
                <li><p>However, too general, obvious answer or rhetorical questions are not claims. For instance: “Why are we so irresponsible?” or “How can we claim to care about the environment and still use single-use plastic?".</p></li>
              </ul>
            </li>
          </ol>
        </li>

        <li>
          <p>Identifying Premise components and how they relate to other components:</p>
          <ol>
            <li><p>Like regular claims, there can be many Premise components present in the text.</p></li>
            <li>
              <p>A Premise expresses justification or refutation to another component via Support or Attack relations:</p>
              <ul>
                <li><p>In the simplest and most common case, a premise is linked directly to a regular claim (ClaimFor/ClaimAgainst) with Support/Attack relation. This is shown in arguments from example <span style="font-weight: bold"><a href='#example6'>E6</a></span>.</p></li>
                <li><p>In other cases Premise can instead be connected to another Premise, thus, forming an indirect relation to a claim via intermediate components (can be more than one). Example <span style="font-weight: bold"><a href='#example7'>E7</a></span> illustrates such a case, where in the third paragraph a claim is supported by the first premise, while the second premise attacks the first one.</p></li>
              </ul>
            </li>
            <li><p>A Premise can only be related to exactly one other component and it cannot be itself.</p></li>
            <li><p>Unlike regular claims, premises cannot exist standalone: it should always be linked to another component, otherwise, a piece of text should not be annotated as a premise.</p></li>
            <li><p>A component (premise or regular claim) can be supported/attacked by more than one premise.</p></li>
            <li><p>In more complex situations it is possible for premises to form longer chains of reasoning, which end with regular claims (see example <span style="font-weight: bold"><a href='#example4'>E4</a></span>).</p></li>
            <li><p>Usually premises are located close to other components they relate to, for instance, in the same paragraph or section in an article.</p></li>
            <li><p>In rarer cases arguments might span multiple paragraphs. One example of such a situation could be when one claim is given in a starting paragraph, while the following paragraphs contain premises that express support/attack to the claim. Thus, premises from the later paragraphs should still be connected to the claim from the previous paragraph via Support/Attack relations.</p></li>
            <li><p>There could also be instances when it may seem that a premise can potentially be connected to several other components. In such cases prioritise the component that is located closest and link the premise to it. For instance, in example <span style="font-weight: bold"><a href='#example6'>E6</a></span>, the last premise seems fit to support any other component in the last paragraph. However, the link is drawn to the previous annotated component because it’s the closest to the premise.</p></li>
          </ol>
        </li>

        <li>
          <p>Sometimes it is difficult to tell whether a component of an argument is a regular claim or just a premise that should be connected to another component. It is advisable to consider:</p>
          <ol>
            <li><p>Whether this component has a direct stance toward the major claim. If so, then it is a regular claim.</p></li>
            <li><p>On the other hand, if it seems that the component better fits an auxiliary role (i.e. an explanation or an example) then it should be annotated as a premise and connected to another component it relates to.</p></li>
          </ol>
        </li>

        <li>
          <p>If two or more potential premises seem to drive a similar point and there is no obvious regular claim to connect them to, it may be that one of the premises is actually a regular claim.</p>
          <ol>
            <li><p>In such a case, choose the one that appears to be most general (i.e. concluding) and annotate it as a regular claim (ClaimFor/ClaimAgainst).</p></li>
            <li><p>Then annotate the remaining components as premises that Support the regular claim.</p></li>
            <li><p>Again, it is important to remember that the selected regular claim should convey a view toward the major claim, if it is not the case, then, none of the potential premises should be annotated at all.</p></li>
          </ol>
        </li>

        <li><p>A piece of text that is neither argumentative (claim) nor related to an argument (premise) should not be annotated at all. <span style="font-weight: bold"><a href='#example7'>E7</a></span> exemplifies such a case. In the second paragraph a general experience is described, which neither claims something nor supports/attacks a claim. Second sentence in the paragraph is used to raise intrigue and provoke the reader.</p></li>
      </ol>

      <p><span style="font-weight: bold"><a href='#example6'>E6</a></span> and <span style="font-weight: bold"><a href='#example7'>E7</a></span> show more complete annotated examples of the two articles with their titles, and brief explanations of how components are related to each other.</p>
    </div>
  </div>
</div>
